<!--prettier-ignore-->
{% extends 'base.html' %}
{%block content %}
<div class="card w-75" style="margin: auto; padding-bottom: 15px">
  <h3 class="card-header display-6 fs-3 fw-light">
    <small class="fs-2 fw-normal">Name</small>: {{speaker.name}}
  </h3>

  <div class="card-body container">
    <div>
      <h5 class="card-title">Biography</h5>
      <p class="lead">{{speaker.biography}}</p>
    </div>

    <br />

    <div class="row text-center">
      <div class="col">
        <h5 class="card-title">Email</h5>
        <p class="lead">{{speaker.email}}</p>
      </div>

      <div class="col">
        <h5 class="card-title">Phone Number</h5>
        <p class="lead">{{speaker.phone_number}}</p>
      </div>

    </div>

    <br />

    <div class="container text-center">
      <div class="row">
        <div class="col">
          Instagram:
          <span class="badge rounded-pill text-bg-info"
            >{{speaker.instagram}}</span
          >
        </div>
        <div class="col">
          Twitter :
          <span class="badge rounded-pill text-bg-info"
            >{{speaker.twitter}}</span
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!--prettier-ignore-->
{% endblock content %}